.galleryItem {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.galleryItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}