.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #3f90b5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  .form {
    display: flex;
    align-items: center;
    height: 30px;
    width:auto;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
  }

  .button {
    text-align: justify;
    font-size: 0.75rem;
    height: 40px;
    cursor: pointer;
    outline: none;
    background-color: rgb(188, 192, 192);
    border: #fff;
  }

  .buttonLabel{
    text-align: center;
    font-style: italic;
  }

  .input{
    height: 30px;
    width: auto;
  }

  .input::placeholder {
    font: inherit;
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
  }